body {
	text-transform: uppercase;
	font-family: helvetica, sans-serif;
}

#txt {
	font-weight: bold;
	font-size: 120px;
	letter-spacing: 1px;
}

#about {
	position: fixed;
	font-size: x-small;
	right: 10px;
	bottom: 5px;
}

ul {
	padding: 0;
}

ul li {
	list-style: none;
	margin-top: 1em;
}
